.app {
    background: linear-gradient(180deg, #FF0000 0%, #FC9E00 100%);
}

.todo {
    max-width: 500px;
}
.todo--text {
    max-width: 370px;
    overflow-wrap: break-word;
    width: 100%;
}
.todo--check {
    height: 25px;
    width: 25px;
    border: 2px solid #FC9E00 !important;
}
.todo--check:focus {
    box-shadow: none !important;
}
.todo--completed .todo--text {
    text-decoration: line-through;
}